certifi==2018.10.15
chardet==3.0.4
Click==7.0
Cython==0.28.5
DAWG-Python==0.7.2
docopt==0.6.2
flasgger==0.9.1
Flask==1.0.2
Flask-Cors==3.0.6
fuzzywuzzy==0.16.0
h5py==2.8.0
idna==2.7
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10
jsonschema==2.6.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
MarkupSafe==1.1.0
mistune==0.8.4
nltk==3.2.5
numpy==1.14.5
overrides==1.9
pandas==0.23.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404381.4453942
pyTelegramBotAPI==3.5.2
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.19.1
rusenttokenize==0.0.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
tqdm==4.23.4
urllib3==1.23
Werkzeug==0.14.1
